.form {
    min-width: 50%;
    margin-top: 5rem;

}

.form input {
    background-color: rgb(50, 50, 50);
    border: none;
    color: white;
}

.form input:focus,.form input:checked {
    background-color: rgb(50, 50, 50);
    color: white;
}

.btn-auth {
    background-color: #E50914;
    color: white;
}

.btn-auth:hover {
    background-color: #b7070f;
}
