.background-dark-accent {
    background-color: rgb(50, 50, 50);
}

.background-dark {
    background-color: rgb(22, 22, 22) !important;
}

.background-red {
    background-color: #E50914 !important;
}

.color-red {
    color: #E50914;
}
