.background-dark-accent {
    background-color: rgb(50, 50, 50);
}

.background-dark {
    background-color: rgb(50, 50, 50);
}

.background-red {
    background-color: #E50914;
}

.color-red {
    color: #E50914;
}
