.form {
    min-width: 50%;
    margin-top: 3rem;

}

.form-input {
    background-color: rgb(50, 50, 50);
    border: none;
    color: white;
}

.form-input:focus {
    background-color: rgb(50, 50, 50);
    color: white;
}

.text-area {
    resize: none;
    overflow: auto;
    height: 140px !important;
}

.modal-background {
    border-radius: 12px;
    background-color: rgb(50, 50, 50);
}
