.form {
    min-width: 50%;
    margin-top: 3rem;

}

.form-input {
    background-color: rgb(50, 50, 50);
    border: none;
    color: white;
}

.form-input:focus {
    background-color: rgb(50, 50, 50);
    color: white;
}

.btn-auth {
    background-color: #E50914;
    color: white;
}

.btn-auth:hover {
    background-color: #a7040c;
    transition: ease-in-out 0.3s;
    box-shadow: 1px 1px 2px 1px #ff656d96;
}

.text-area {
    resize: none;
    overflow: auto;
    height: 100px !important;
}
