.movie-item-image {
    max-height: 320px;
}

.card {
    max-width: 240px;
}

.btn-pill:hover {
    background-color: rgb(87, 86, 86);
    transition: ease-in-out 0.3s;
}

.btn-active {
    background-color: #E50914;
}

.movie-search {
    background-color: rgb(50, 50, 50);
    border: 0;
    border-radius: 32px;
}
